body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(183, 141, 222);
    color: black;
    text-align: center;
    padding: 20px ;
    
}

img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}